<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="container">

  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="searchText"  placeholder="Search by Reference" aria-label="Search by Reference" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-info " type="button"><i class="fas fa-search"></i></button>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 mx-auto">
      <table class="table table-bordered table-hover " *ngIf="receptions.length != 0">
        <thead>
        <th>Reference</th>
        <th>Date de réception</th>
        <th>Code d'appel d'achat</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr *ngFor="let c of receptions | search:searchText ; index as i ">
          <td>{{c.ref}}</td>
          <td>{{c.dateReception | date:'dd-MM-yyyy' }}</td>
          <td>{{c.appelAchat.ref}}</td>

          <td><span class="fa fa-trash btn btn-sm btn-danger" (click)="deleteByRef(c,i)"></span>
            <i class="fa fa-edit btn btn-sm btn-info" style="margin-left:5px" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="callReception(c)"></i>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Reception</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="form-group">
            <label for="ref">Reference :</label>
            <input disabled id="ref" type="text" class="form-control" [(ngModel)]="reception.ref">
          </div>
          <div class="form-group">
            <label for="dateReception">Date de Reception :</label>
            <input id="dateReception" type="text"  class="form-control " [(ngModel)]="reception.dateReception ">
          </div>
          <div class="form-group">
            <label for="refAppelAchat">Reference d'Appel d'achat concerné :</label>
            <input id="refAppelAchat" type="text" class="form-control" [(ngModel)]="reception.appelAchat.ref">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateReception()" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
